# Env
.env

# Virtual environments
.venv/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Build artifacts
build/
dist/
*.egg-info/

# Logs
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
